<br/>
<br/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
All Users
<% @profiles.each do |profile| %>
    <div class="commentator-img-box hidden-xs">
      
                <div class="commentator-box-thumbimg">
                  <% if profile.image_file_name.present? %> 
                       <%= image_tag profile.image.url(:small) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/generic_small.png" height=61 width=64 alt="User Profile Image">
                      </a>
                      <% end %> 
                      
                      
                </div>
                 
                <div class="commentator-box-right">
                  <div class="commentator-box-name"><%= profile.name %></div>
                  <div class="commentator-box-repo">Reputation: <%= profile.reputation%> points</div>
                </div>
                    <%= link_to 'View', profile, :class => 'btn btn-xs btn-primary', :role => "button" %>
                    <%= link_to 'Delete', profile, method: :delete, :class => 'btn btn-xs btn-danger', :role => "button", :data => {confirm: 'Are you sure you want to delete this?'} %>
    </div>

<% end %>
