<!--<h1>Profile#show</h1>-->
<div class="container">
    <br>
    <%= link_to 'Edit Profile', edit_profile_path(:id => current_user.profile.id), class: "btn btn-primary pull-right" %>
        
    <div class="row">
        <div class="col-sm-6">
            
                    <% if @profile.image_file_name.present? %> 
                      <%= image_tag @profile.image.url(:large) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/avatar_generic.jpg" width="100" alt="User Profile Image">
                      </a>
                      <% end %>
            
            <h2><%= @profile.name %></h2>
        </div>
    </div>
    <div class ="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item text-center" contenteditable="false"><strong>Profile</strong></li>
            <li class="list-group-item text-center"><strong>City: <%= @profile.city %></strong></li>
            <li class="list-group-item text-center"><strong>Gender: <%= @profile.gender %></strong></li>
            <li class="list-group-item text-center"><strong>Reputation: <%= @profile.reputation %> Points</strong></li>
            <li class="list-group-item text-center"><strong>Joined <%= time_ago_in_words(@profile.created_at) %> ago</strong></li>
            <!--<li class="list-group-item text-center"></li>-->
            <!--<li class="list-group-item text-center"></li>-->
        </ul>
        <div class="panel panel-default">
          <div class="panel-heading">Education</div>
              <div class="panel-body">
                    abc
              </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Interests</div>
              <div class="panel-body">
                    xyz
              </div>
        </div>
    
    </div>
    
    <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">Bio</div>
              <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. 
                    Nam et lacus neque.
                    
              </div>
        </div>

    </div>    
    </div>
<!--<=link_to image_tag(@profile.image.url(:med)), @profile.image.url %>-->

<!--<= image_tag @profile.image.url %>-->
<!--< if file? %>-->
<!--file is there-->
<!--<= file is there %>-->
<!--< end %>-->
</div>

</div>

