<section class="page-header">
        <div class="container">

          <h1>All Discussion Forums</h1>

          <!-- breadcrumbs -->
        
        </div>
</section>

<div class = "container" style="margin-top: 30px;margin-bottom: 15px;" id="forum-table">
    <ul class="forum-dis-container">
        <% @forums.each do |d| %>
        
        <script>
            $(window).load(function(){
                
                var link_parent = $(".forum-list-link");
                for(var i = 0 ; i < link_parent.length ; i++){
                    
                    var links = $($(link_parent[i])[0]).find("a");
                	
                    var href = links[0].href;
                    var href_location = "window.location.href='" + href + "'";
                    var main_parent = $(link_parent[i]).parent(".forum-dis-list");
                	$(main_parent[0]).attr("onClick",href_location);
                }
            });    
        </script>
        
        <li class="forum-dis-list col-md-6">
            
   
            <div class="forum-image-container">
                
                <%= image_tag d.image.url(:large) , :class => "image_thumb_forum"%>
            
            </div>
            
            <div class="forum-list-link">
                <%= link_to d.name ,{:controller => "posts", :action => "index", :filter_id => d.id }, class:"tab-title" %>
            
            <div class="disc-edit-del-btns"> 
            
                <% if can? :update, d %>
                        <%= link_to 'Edit', edit_forum_path(d),remote: true, class:"btn btn-info" %>
                <% end %>
                <% if can? :update, d %>
                
                    <%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
                </div>
            </div>   
            
        </li>
            


            <% end %>
        <% end %>
        
        
    </ul>
    <% if can? :create, Forum.new %>
      <%= link_to 'New Forum', new_forum_path ,remote: true,class:"btn btn-success pull-right" %>
    <% end %>
</div>

