
<p id="notice"><%= notice %></p>

<div class="container fluid" >
    <!--<div class="page-header">-->
    <article>
    <div class="container"  > 
    <section class="col-sm-6 col-md-4 " id="section" >
    <%= image_tag @discipline.image.url(:large) %>
    <h3 style="text-align:center"><%= @discipline.name %></h3>
    </section>
    </div>
    <!--<div class="well">-->
        <p style="text-align: justify; margin-left:10%; margin-right:10%;"><%= @discipline.description %></p>
    <!--</div>-->
</article>
        
<% if can? :update, @discipline %>
    <%= link_to 'Edit', edit_discipline_path(@discipline),class:"btn btn-info" %> |
<%end %>
<%= link_to 'Back', disciplines_path,class:"btn btn-info" %>

<%= link_to 'View Degrees in '+ @discipline.name, disciplines_path ,class:"btn btn-info" %>
</div>

<!------------ Personality test Box -->
<section>
  <div class ="container well"><p>
    <img src="/StudentsSmall.jpg" alt="" class="logo pull-left"/>
    <h2 style="margin:0">Take a Free Personality Test!</h2>
    <h5 style="margin:0">Find out which Programmes match your personality!</h5>
    <a href="#"><h5 style="color:#009cda">Take the Test</h5></a>
    </p>
  </div>
</section>
<br>
<!--------------->