
<section class="page-header">
        <div class="container">

          <h1><a href="/disciplines">All Disciplines / </a><%= @discipline.name %> Discipline</h1>

          <!-- breadcrumbs -->
        
        </div>
</section>

<p id="notice"><%= notice %></p>

<div class="container fluid" >
    <!--<div class="page-header">-->
    <article>
    <div class="container no-padding"  > 
        <div class="col-sm-12 col-md-12 no-padding" style="text-align:center;">
            
            <div class="show-dis-image">
                <%= image_tag @discipline.image.url() %>
            </div>
            
            <div style="text-align: center;" class="dis-description-text"><%= @discipline.description %></div>
            
           

        </div>
        
        <div class="col-md-12 no-padding">
            
                <h2 style="text-align:center;margin-bottom:30px;color: #8ab933;">Subdisciplines in this discipline</h2>
                
                <div class="subdisc-main-container col-md-12 no-padding">
                    
                    <%  @sub.each do |sub| %>
                    
                      <div class="sub-dis-box col-md-3 ">
                          
                          <div class="sub-dis-inner-box">
                              <div class="sub-dis-name">
                                  <%= link_to sub.name, "/subdisciplines/#{sub.id}"  %>
                                  <!--<= sub.name %>-->
                              </div>
                          </div>
                          
                      </div>
                    <% end %>
                    
                </div>
                
                
                <h2 style="clear:both;text-align:center;margin-bottom:30px;color: #8ab933;padding-top: 10px;">Suggested universities</h2>
                
                <div class="suggested-unis-container">
                    
                    <% @universities.each do |uni| %>
                
                        <div class="sub-dis-box col-md-3">
                              
                              <div class="sub-dis-inner-box">
                                  <div class="sub-dis-name">
                                      <% myString = String.new(" ")%>
                                      <% str = uni.name + myString + uni.campus %>
                                      <%= link_to str, "/universities/#{uni.id}" %>
                                      <!--<= uni.name %> <= uni.campus %>-->
                                  </div>
                              </div>
                              
                        </div>
                
                

                    <% end %>
                
                    
                </div>
                

            
        </div>
    </div>
    <!--<div class="well">-->
        
        
        <!--<%= @degrees.name %>-->
        <!--    <p>@degrees</p>-->
        <!--< end %>-->
    <!--</div>-->
    
        
</article>

<div style="margin-top:20px;">
    
    <%= link_to 'Back', disciplines_path,class:"btn btn-success" %>  
    <% if can? :update, @discipline %>
        <%= link_to 'Edit', edit_discipline_path(@discipline),class:"btn btn-info" %>
    <%end %>
    
</div>    


<!--<== link_to 'View Degrees in '+ @discipline.name, disciplines_path ,class:"btn btn-info" %>-->
<br/>


</div>

