<div class="panel panel-default comment-body">
  
  <div class="multi_commentliker" data-commentid=" <%= comment.id %> ">

		<!--<a title="Up Vote" class="up_vote_st">up vote</a> -->
		<div class="commentliker_error_message"><a href="/users/sign_in">An error occured! Please login if you're not logged in.</a></div>
		<a title="Up Vote" class="up_vote_st <% if user_signed_in? and current_user.voted_up_on? comment %>up_vote_selected<% end %>">up vote</a> 
		<span class="number_of_likes" data-pageload-val="<%= comment.get_upvotes.size -  comment.get_downvotes.size %>" data-upvotes="<%= comment.get_upvotes.size %>" data-downvotes="<%= comment.get_downvotes.size %>"><%= comment.get_upvotes.size -  comment.get_downvotes.size %></span>
		<a title="Down Vote" class="down_vote_st <% if user_signed_in? and current_user.voted_down_on? comment %>down_vote_selected<% end %>">down vote</a> 

		<!--<span class="number_of_likes" data-upvotes="1" data-downvotes="0">1</span>-->
		<!--<a title="Down Vote" class="down_vote_st ">down vote</a> -->

	</div>
			
  <div class="panel-body comments-main-body">
    <h4><%= comment.comment %></h4>
    
    <div class="commentator-img-box pull-right hidden-xs">
      
                <div class="commentator-answer-txt">Answered <%= time_ago_in_words(comment.created_at) %> ago</div>
                <div class="commentator-box-thumbimg">
                  <% if comment.user.profile.image_file_name.present? %> 
                       <%= image_tag comment.user.profile.image.url(:small) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/generic_small.png" height=61 width=64 alt="User Profile Image">
                      </a>
                      <% end %> 
                      
                      
                </div>
                 
                <div class="commentator-box-right">
                  <div class="commentator-box-name"><%= link_to comment.user.profile.name, profile_path(comment.user.profile.id) %>
                  	   <% if (user_signed_in? and current_user.has_role? :admin) %>
	                     <div class = "adm">
                  	   Admin</div>
                  	   <% end %></div>
                  <div class="commentator-box-repo">Reputation: <%= comment.user.profile.reputation%> points</div>
                </div>
                
    </div>
    <% if can? :update, comment %>
      <%= link_to "Edit", edit_comment_path(comment),class: "comments-small-btns"%>
    <% end %>
    <% if can? :destroy, comment %>
    <%= link_to "Delete", [comment], method: :delete, data: { confirm: "Are you sure?" },class: "comments-small-btns"%>
    <% end %>
    
    <!--<%= link_to like_forum_post_comment_path(@forum,comment.commentable, comment), class: "like", method: :put do%>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_upvotes.size %></span>
      </button>
    <% end %>
    
    <%= link_to dislike_forum_post_comment_path(@forum,comment.commentable, comment), class: "like", method: :put do%>
      <button type="button" class="btn btn-info" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_downvotes.size %></span>
      </button>
    <% end %>-->
    
    <div class="commentator-img-box mobile visible-xs">
      
                <div class="commentator-answer-txt">Answered <%= time_ago_in_words(comment.created_at) %> ago</div>
                <div class="commentator-box-thumbimg">
                  <% if comment.user.profile.image_file_name.present? %> 
                       <%= image_tag comment.user.profile.image.url(:small) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/generic_small.png" height=61 width=64 alt="User Profile Image">
                      </a>
                      <% end %> 
                      
                      
                </div>
                 
                <div class="commentator-box-right">
                  <div class="commentator-box-name"><%= comment.user.profile.name %>
                  <% if (user_signed_in? and current_user.has_role? :admin) %>
	                     <div class = "adm">
                  	   Admin</div>
                  	   <% end %>
                  </div>
                  <div class="commentator-box-repo">Reputation: <%= comment.user.profile.reputation%> points</div>
                </div>
                
    </div>
    
    <div class="comments-reply-container">
      <h4 class="visible-xs">Replies</h4>
      
      <div class="reply_div" id="post_<%=@post.id %>_comment_<%= comment.id %>" >
        <%= render partial: 'comments/reply', collection: comment.comments %>
      </div>
      
      <a href="javascript:;" class="get-reply-option-btn">Add a Reply</a>
      <%= bootstrap_form_for [comment, Comment.new], :html => { :id => 'reply_form' } do |f| %> 
        <%= f.text_area :comment,placeholder: "Add a Reply"%>
        <%= f.submit "Post Reply" %>
      <% end %>
    
    </div>

    
    
  </div>
</div>
