<section class="page-header">
        <div class="container">
          <strong>
           <ul class="breadcrumbs">
             <li><%= link_to "Guidistan","/" %> <i class="fa fa-angle-right" aria-hidden="true"></i></li>
             <li><%= link_to "Admin Panel","/admin_panel" %> <i class="fa fa-angle-right" aria-hidden="true"></i></li>
             <li class="active">Site Statistics</li>
           </ul>
           </strong>
        </div>
</section>

<div class="container stats-container">
     

<div class="col-md-3 stats-main-containers">
     
     <div class="stats-inner-container">
          
          <div class="heading">
               Total Users:
          </div>
          <div class="data">
                <%= Profile.all.count %>
          </div>
          
          
     </div>
     
</div>
<div class="col-md-3 stats-main-containers">
     
     <div class="stats-inner-container">
          
          <div class="heading">
               Total Posts:
          </div>
          <div class="data">
                 <%= Post.all.count %>
          </div>
          
          
     </div>
     
</div>
<div class="col-md-3 stats-main-containers">
     
     <div class="stats-inner-container">
          
          <div class="heading">
               Total Answers:
          </div>
          <div class="data">
                <%= Comment.where(commentable_type:"Post").count %></br>
          </div>
          
          
     </div>
     
</div>
<div class="col-md-3 stats-main-containers">
     
     <div class="stats-inner-container">
          
          <div class="heading">
               Total Votes by now:
          </div>
          <div class="data">
                <%= ActsAsVotable::Vote.count %>
          </div>
          
          
     </div>
     
</div>

</div>