<div class="container">
<br/>
<p id="notice"><%= notice %></p>
<% if can? :create, Degreeprogram.new %>
  <a class="btn btn-success pull-right" href="/degreeprograms/new" role="button">New Degreeprogram</a>
<% end %>

  <%= form_tag :controller => :degreeprograms, :action => :export do %>
    <%= submit_tag "Download in Excel", class: "btn btn-primary pull-right", id: "export" %>
  <% end %>
<%= form_tag import_degreeprograms_path, multipart: true do %>
  <%= file_field_tag :file, required: true %>
  <br>
  <%= submit_tag "Import" %>
<% end %>  
<h1 class="post-title-forum post-title-all-posts" style="" >Degree Programs</h1>
<br/>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @degreeprograms.each do |degreeprogram| %>
      <tr>
        <td><%= degreeprogram.degree_type %></td>
        <td><%= degreeprogram.name %></td>
        <td><%= link_to 'Show', degreeprogram %></td>
        <td><%= link_to 'Edit', edit_degreeprogram_path(degreeprogram) %></td>
        <td><%= link_to 'Destroy', degreeprogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
