
<br><div class="container"> 
<br>
<p id="notice"><%= notice %></p>
<h2 class="post-title-forum post-title-all-posts" style="">Degree program</h2>
<p></p>
<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Type:</strong>
  <%= @degreeprogram.degree_type %>
</p>

<p>
  <strong class="post-title-forum post-title-all-posts" style="">Name:</strong>
  <%= @degreeprogram.name %>
</p>

<%= link_to 'Edit', edit_degreeprogram_path(@degreeprogram) %> |
<%= link_to 'Back', degreeprograms_path %>

</div>