

<%= bootstrap_form_for(@discipline_university) do |f| %>
  <% if @discipline_university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline_university.errors.count, "error") %> prohibited this discipline_university from being saved:</h2>
      <ul>
        <% @discipline_university.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">-->
  
    <%= f.collection_select :university_id, University.all, :id, :name, :include_blank => true , :required => true %>
  <!--</div>-->
  <!--<div class="field">-->
    <!--<= f.collection_select :discipline_id, Discipline.all, :id, :name , :include_blank => true, :required => true  %>-->
  <!--</div>-->
  <!--<div class="field">-->
    <%= f.text_field :name,placeholder: "Name", hide_label: true  %>
    <%= f.select :degree_type,[["Bachelors","Bachelors"],["Masters","Masters"],["Phd","Phd"]] %>
  
    <%= f.collection_select :subdiscipline_id, Subdiscipline.all, :id, :name , :include_blank => true , :required => true %>
  <!--</div>-->
  <!--<div class="field">-->
    <!--<= f.collection_select :subdiscipline_id, Subdiscipline.all, :id, :name , :include_blank => true , :required => true %>-->
  <!--</div>-->
    <%= f.number_field :tution_fee_per_semester , placeholder: "e.g 50000"  %>
    
    <%= f.select :hec_recognized,[["Yes",true],["No",false]] %>
    <%= f.number_field :duration , placeholder: " Duration e.g 4 years"  %>
  <!--<div class="actions">-->
    <%= link_to 'Cancel', discipline_universities_path, class: "btn btn-info" %>
    <%= f.submit "Create", class: "btn btn-success" %>
  <!--</div>-->
<% end %>

