<script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>
<link href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>

<section class="page-header">
        <div class="container">

          <ul class="breadcrumbs">
            <li><%= link_to "Guidistan","/" %> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
            <li class="active">Search Degree Programs</li>
          </ul>

          <!-- breadcrumbs -->
        
        </div>
</section>

  
  <div class="container search-degree">
    <!-- FOR ADMIN-->
    <div class="scholarship-search col-md-8 col-sm-12 col-centered">
      <%= bootstrap_form_tag url: discipline_universities_path, :method => 'get' do |f| %>
        <%= f.collection_select :city_id, City.all.order(:name), :id, :name, { :prompt => 'Choose a City...',:hide_label => true } %>
        <%= f.collection_select :discipline_id, Discipline.all.order(:name), :id, :name, { id: 'discipline_selection',:prompt => 'Choose a Discipline...',:hide_label => true } %>
        <%= f.grouped_collection_select :subdiscipline_id, Discipline.order(:name), :subdisciplines, :name, :id, :name,include_blank: true, :hide_label => true %>
        <%= f.autocomplete_field :university_name, autocomplete_university_name_discipline_universities_path, placeholder: "Where do you want to Study..."  %>

        <%= f.submit 'Search' %>
      <% end %>
    </div>
    
    
    
    
    
    <% if can? :create, DisciplineUniversity.new %> 
      <div class="disc_unis_admins">
        
    
          <%= link_to 'New Discipline university', new_discipline_university_path ,class:"btn btn-success pull-right" %>
          
          <div class="pull-right download-in-excel-form">
            <%= form_tag :controller => :discipline_universities, :action => :export do %>
              <%= submit_tag "Download in Excel", class: "btn btn-primary pull-right", id: "export" %>
            <% end %>
          </div>
          
          <%= form_tag import_discipline_universities_path, multipart: true do %>
            <%= file_field_tag :file, required: true %>
            <br>
            <%= submit_tag "Import" %>
          <% end %>
    
      
      </div>
    <% end %>  
    <!----------->
    <%= will_paginate @discipline_universities %>
    <%= render :partial =>'discipline_universities/index', :locals =>{ discipline_universities: @discipline_universities} %>
    <%= will_paginate @discipline_universities %>
  </div>
</div>
<script>
  $("#deg-uni").click(function() {
    window.location = $(this).find("a").attr("href"); 
    return false;
  });
  
  $("#deg-name").click(function() {
    window.location = $(this).find("a").attr("href"); 
    return false;
  });


$( document ).ready(function() {
  var subdisciplines;
  subdisciplines = $('#_subdiscipline_id').html();
  // console.log(subdisciplines);
  return $('#_discipline_id').change(function() {
    var discipline, options;
    discipline = $('#_discipline_id :selected').text();
    
    // console.log(discipline);
    
    // console.log(`optgroup[label=${discipline}]`)
    options = $(subdisciplines).filter(`optgroup[label="${discipline}"]` ).html();
    
    // options = $(subdisciplines).filter(`optgroup[label="Computer Sciences"]` ).html();
    
    // options = $(states).filter("optgroup[label=" + country + "]").html();
    
  
    // console.log(options);
    if (options) {
      return $('#_subdiscipline_id').html(options);
    } else {
      return $('#_subdiscipline_id').empty();
    }
  });
  
});
</script>
