
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>University</th>-->
<!--      <th>Discipline</th>-->
<!--      <th>Degreeprogram</th>-->
<!--      <th>Subdiscipline</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <#% @discipline_universities.each do |discipline_university| %>-->
<!--      <tr>-->
        <!--<td><#%= discipline_university.university.name %></td>-->
<!--        <td><#%= discipline_university.discipline.name %></td>-->
<!--        <td><#%= discipline_university.degreeprogram.name %></td>-->
<!--        <td><#%= discipline_university.subdiscipline.name %></td>-->
<!--        <td><#%= link_to 'Show', discipline_university %></td>-->
<!--        <td><#%= link_to 'Edit', edit_discipline_university_path(discipline_university) %></td>-->
<!--        <td><#%= link_to 'Destroy', discipline_university, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <#% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<div class="container">
  <p id="notice"><%= notice %></p>

<!--<h1>Listing Discipline Universities</h1>-->

<div class ="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
          <div class="panel-heading">Disciplines</div>
              <div class="panel-body">
                <%= collection_check_boxes(:discipline_ids,:discipline_ids, Discipline.all, :id, :name) do |b| %>
                  <%= b.label { b.check_box + " " + b.text} %>
                <% end %>
              </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Subdisciplines</div>
              <div class="panel-body">
                <%= collection_check_boxes(:subdiscipline_ids,:subdiscipline_ids, Subdiscipline.all, :id, :name) do |b| %>
                  <%= b.label { b.check_box + " " + b.text} %>
                <% end %>
              </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Cities</div>
              <div class="panel-body">
                <%= collection_check_boxes(:cities_ids,:cities_ids, City.all, :id, :name) do |b| %>
                  <%= b.label { b.check_box + " " + b.text} %>
                <% end %>
              </div>
        </div>
    
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
              <% @discipline_universities.each do |discipline_university| %>
          <div class="panel-heading"><%= discipline_university.degreeprogram.name %></div>
              <div class="panel-body">
                    <%= discipline_university.university.name %> | <%= discipline_university.university.city.name %>
              </div>
          <% end %>
        </div>

    </div>    
    </div>
    
<% if can? :create, DisciplineUniversity.new %>
  <%= link_to 'New Discipline university', new_discipline_university_path %>
<% end %>
</div>

