
<br><br>
<div class="container" >
<p id="notice"><%= notice %></p>

<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Degree Program Name:</strong>
  <%= @discipline_university.name %>
</p>
<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Degree type:</strong>
  <%= @discipline_university.degree_type %>
</p>
<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Discipline Name:</strong>
  <%= @discipline_university.discipline.name %>
</p>
<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Subdiscipline Name:</strong>
  <%= @discipline_university.subdiscipline.name %>
</p>
<p>
  <strong class="post-title-forum post-title-all-posts" style="">University:</strong>
  <%= @discipline_university.university.name %>
</p>
<p>
  <strong class="post-title-forum post-title-all-posts" style="">Tuition Fee per Semester:</strong>
  <%= @discipline_university.tution_fee_per_semester %>
</p>

<p>
  <strong class="post-title-forum post-title-all-posts" style="">HEC recognized:</strong>
  <% if @discipline_university.hec_recognized %>Yes<% else %>No<% end %>
</p>

<p>
  <strong class="post-title-forum post-title-all-posts" style="">Duration:</strong>
  <%= @discipline_university.duration %>
</p>



<p>
  <strong class="post-title-forum post-title-all-posts" style="">Eligibility Criteria:</strong>
  <%= @discipline_university.criteria %>
</p>


<p>
  <%= link_to 'For more Information Visit this link', @discipline_university.link %>
  </p>


<%= link_to 'Edit', edit_discipline_university_path(@discipline_university) %> |
<%= link_to 'Back', discipline_universities_path %>

</div>