<section class="page-header">
        <div class="container">

          <h1> <%= @discipline_university.name %> at <%= @discipline_university.university.name %></h1>

          <!-- breadcrumbs -->
        
        </div>
</section>
<div class="container" >
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>Degree Program Name:</td>
                <td> <%= @discipline_university.name %></td>
            </tr> 
            <tr>
                <td>Degree type:</td>
                <td> <%= @discipline_university.degree_type %></td>
            </tr> 
            <tr>
                <td>Discipline Name:</td>
                <td> <%= @discipline_university.discipline.name %></td>
            </tr> 
            <tr>
                <td>Subdiscipline Name:</td>
                <td> <%= @discipline_university.subdiscipline.name %></td>
            </tr> 
            <tr>
                <td>University:</td>
                <td> <%= @discipline_university.university.name %></td>
            </tr> 
            <tr>
                <td>Tuition Fee per Semester:</td>
                <td>  <%= @discipline_university.tution_fee_per_semester %></td>
            </tr> 
            <tr>
                <td>HEC recognized:</td>
                <td> <% if @discipline_university.hec_recognized %>Yes<% else %>No<% end %></td>
            </tr> 
            <tr>
                <td>Duration:</td>
                <td> <%= @discipline_university.duration %></td>
            </tr>
            <tr>
                <td>Eligibility Criteria:</td>
                <td> <%= @discipline_university.criteria %></td>
            </tr>
        </tbody>  
    </table>
  <a href="<% @discipline_university.link %>" class="btn btn-success">For more Information Visit this link</a><%= link_to 'For more Information Visit this link', @discipline_university.link %>




<%= link_to 'Edit', edit_discipline_university_path(@discipline_university) %> |
<%= link_to 'Back', discipline_universities_path %>

</div>