<section class="page-header">
        <div class="container">

          <ul class="breadcrumbs">
            <li><%= link_to "Guidistan","/" %> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
            <li><%= link_to "Search Degree Programs","/discipline_universities" %> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
          <li class="active"><%= @discipline_university.name %></li>
          </ul>

          <!-- breadcrumbs -->
        
        </div>
</section>
<div class="container-fluid program_detail">
    <div class="bg-cover">
            <% if user_signed_in? && WishlistDegree.exists?(user_id: current_user.id,discipline_university_id: @discipline_university.id) %>
                  <%= link_to 'Added to Wishlist', {controller: "discipline_universities",action: "wishlist", id: @discipline_university.id} , class: "uni-wish-added" %>
            <% else %>
              <%= link_to 'Add to Wishlist', {controller: "discipline_universities",action: "wishlist", id: @discipline_university.id}, class: "uni-wish" %>
            <% end %> 
        <div class="cover-content">
            <span class="deg"><%= @discipline_university.degree_type %></span>
            <h1><%=link_to @discipline_university.name , @discipline_university.link, {target: '_blank'} %></h1>
        </div>
    </div>   
    
   
    <div class="program-detail-wrap">
        <div class="quickfacts">
            <div class="tuition">
                <i class="fa fa-money fa-3x" aria-hidden="true"></i>
                <div><%= @discipline_university.tution_fee_per_semester %><span>PKR/Semester</span></div>
                
            </div>
            <div class="hec">
                <i class="fa fa-check-square-o fa-3x" aria-hidden="true"></i>
                <div><% if @discipline_university.hec_recognized %>Yes<% else %>No<% end %><span>HEC recognized</span></div>
                
            </div>
            <div class="duration">
                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                <div><%= @discipline_university.duration %><span>Years</span></div>
                
            </div>
            
        </div>
         
        <% university = @discipline_university.university %>
        <div class="uni-image-container col-md-2 col-md-offset-1 col-sm-12">
            <%= image_tag university.image.url(:small) , :class => "image_thumb_forum"%>
        </div>
        <div class="uni-info">
            
            <h3><%= link_to university.name, university.link , {target: '_blank'} %></h3>
            
            <div class="more-facts">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <%= university.city.name %>
            </div>
            
            <h4>Eligibility Criteria:</h4>
            <p><%= @discipline_university.criteria %></p>
            
        </div>
        
        <div class="button-contianer">
            <%= link_to 'For more Information Visit this link', @discipline_university.link, {target: '_blank',:class => "view-all-button" }%>
        </div>
        
    
    
        
            <% if can? :update, @discipline_university %>
                <div>
                    <%= link_to 'Edit', edit_discipline_university_path(@discipline_university), :class => "btn btn-success" %> 
                    <%= link_to 'Back', discipline_universities_path, :class => "btn btn-success" %>
                    <%= link_to 'Delete', @discipline_university, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
            
                 </div>
            <% end %>
            
       
    </div> 
</div>