<br>
<div class="container">
<p id="notice"><%= notice %></p>
<br>
<% if can? :create, Subdiscipline.new %>
<%= link_to 'New Subdiscipline', new_subdiscipline_path, class: "btn btn-success pull-right" %>
  <%= form_tag :controller => :subdisciplines, :action => :export do %>
    <%= submit_tag "Download in Excel", class: "btn btn-primary pull-right", id: "export" %>
  <% end %>
<%= form_tag import_subdisciplines_path, multipart: true do %>
  <%= file_field_tag :file, required: true %>
  <br>
  <%= submit_tag "Import" %>
<% end %>
<% end %>
<h2 class="post-title-forum post-title-all-posts" style="">Subdisciplines</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Discipline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subdisciplines.each do |subdiscipline| %>
      <tr>
        <td><%= subdiscipline.name %></td>
        <td><%= subdiscipline.discipline.name %></td>
        <td><%= link_to 'Show', subdiscipline %></td>
        <td><%= link_to 'Edit', edit_subdiscipline_path(subdiscipline) %></td>
        <td><%= link_to 'Destroy', subdiscipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>