<section class="page-header">
        <div class="container">

          <h1><%= @subdiscipline.discipline.name %> /<%= @subdiscipline.name %></h1>

          <!-- breadcrumbs -->
        
        </div>
</section>
<div class="container">
  <div class="degrees_holder">
    <h2>Degrees in <%=@subdiscipline.name %></h2>
    <ul>
    <% for degree in @degree %>
    	<li>
    		<%=link_to degree.name, discipline_university_path(degree.id)%>
    	</li>
    	<% end %>
    	</ul>
    	<%= link_to 'Edit', edit_subdiscipline_path(@subdiscipline) %> |
<%= link_to 'Back', subdisciplines_path %>
  </div>

</div>

</div>