<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, required: true %>
  </div>
  <div class="field">
    <%= f.label :tag_list,"Tags(Seperated by commas)" %><br>
    <%#= f.text_field :tag_list ,:id => "post_tags","data-pre" => @post.tags.map(&:attributes).to_json  %>
    <%= f.text_field :tag_list, 'data-tokeninput' => { collection: @names ,options: @options}.to_json %>
    <!--,"data-pre" => @post.tag_list.map(&:attributes).to_json-->
  </div>
 
  <div class="field">
    <%#= f.text_field :tag_list, 'data-tokeninput' => { collection: @names }.to_json %>
    
    <%#= @dis_id %>
    <%#= :discipline_id = @dis_id %><br>
    <%#= f.collection_select :discipline_id,Discipline.all,:id,:name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
