<section class="page-header">
				<div class="container">
				  <%if @id!=nil %>

					  <h1><%= Forum.find(@id).name %> Discussion Forum</h1>
					<% end %>

					

				</div>
</section>

<p id="notice"><%= notice %></p>
<div class = "container">
  
<div class="col-md-12">

<% if can? :create, Post %>
  <%= link_to 'Ask a Question', new_post_path(@post => {:forum_id => @id}), class: "btn btn-primary new-post-showall"%><br/>
<% end %>

  
<% @posts.each do |post| %>

  <!--<div class="panel panel-default">
      <div class="panel-heading"><h1><= link_to post.title, post %></h1></div>
        <p><b><= post.description %></p></b>
        <p><= post.discipline.name %></p>
        <p>Posted about <= time_ago_in_words(post.created_at) %> ago by <= post.user.email %></p>
        <% if can? :update, post %>
          <%= link_to 'Edit', edit_post_path(post),class: "btn btn-info" %>
        <% end %>
        <% if can? :destroy, post %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %>
        <% end %>
  </div>-->
  
        <div class="block-review-content all-posts-forum-page-content">
          <div class="block-review-body" style="padding-left:0px;">
            
              <div class="block-all-post-detail-box-container hidden-xs">
                
            
              
                <div class="block-all-post-detail-box">
                  <div class="block-all-post-value-box"><%= "#{post.impressionist_count}" %></div>
                  <div class="block-all-post-title-box">views</div>
                </div>
                
                <div class="block-all-post-detail-box">
                  <div class="block-all-post-value-box"><%= post.get_upvotes.size-post.get_downvotes.size %> </div>
                  <div class="block-all-post-title-box">Votes</div>
                </div>
                
                <div class="block-all-post-detail-box">
                  <div class="block-all-post-value-box"><%= post.comments.count %></div>
                  <div class="block-all-post-title-box">Comments</div>
                </div>
                
              </div>
              
              <div class="block-review-avatar block-box-review-post text-center hidden-xs">
                
                  <div class="push-bit">
                    
                    <% if post.user.profile.image_file_name.present? %> 


                      <%= image_tag post.user.profile.image.url(:med) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/avatar_generic.jpg" width="100" alt="User Profile Image">
                      </a>
                      <% end %>
                  </div>
                  <small class="block" style="margin-top:5px";><%= 
                  puts post.to_yaml
                  post.user.profile.name
                  %></small>
                  <% if post.user.email %>
                  <small class="block">Posted <%= time_ago_in_words(post.created_at) %> ago</small>
                  <% end %>
                  
                 
              </div>
              <h2 class="post-title-forum post-title-all-posts" style="">
                <%= link_to post.title, post %>
              </h2>
              <p>
                
                 <%= 
                 truncate(post.description, :omission => "...", :length => 500)
                 
                  %>
                  
                  <% if post.description.length > 500 %>
                  
                    <%= link_to post.title, post ,class: "readmore-allpost" %>
                    
                  <% end %>
  
              </p>
              
              <!--For Mobile Start -->
              
              <div class="caption all-posts-end-buttons visible-xs" style="text-align:center;">
                
                <% if can? :update, post %>
                <%= link_to 'Edit', edit_post_path(post),class: "text-primary pull-left edit-btn-show-posts" %>
              <% end %>
              <% if can? :destroy, post %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: " pull-left delete-btn-show-posts" %>
              <% end %>
              
              
              </div>
              
              <div class="block-review-avatar block-box-review-post text-center visible-xs">
                  <div class="push-bit">
                    
                    <% if post.user.profile.image_file_name.present? %> 


                      <%= image_tag post.user.profile.image.url(:med) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/avatar_generic.jpg" width="100" alt="User Profile Image">
                      </a>
                      <% end %>
                  </div>
                  <small class="block" style="margin-top:5px";><%= 
                  puts post.to_yaml
                  post.user.profile.name
                  %></small>
                  <% if post.user.email %>
                  <small class="block">Posted <%= time_ago_in_words(post.created_at) %> ago</small>
                  <% end %>
                  
                 
              </div>
              
              <!--For Mobile End-->
              
              
              <div class="block-all-post-detail-box-container visible-xs">
                
              
                <div class="block-all-post-detail-box">
                  <div class="block-all-post-value-box"><%= "#{post.impressionist_count}" %></div>
                  <div class="block-all-post-title-box">views</div>
                </div>
                
                <div class="block-all-post-detail-box">
                  <div class="block-all-post-value-box"><%= post.get_upvotes.size-post.get_downvotes.size %> </div>
                  <div class="block-all-post-title-box">Votes</div>
                </div>
                
                <div class="block-all-post-detail-box">
                  <div class="block-all-post-value-box"><%= post.comments.count %></div>
                  <div class="block-all-post-title-box">Comments</div>
                </div>
                
              </div>
              

              <!--< b = post.get_downvotes.size %>-->
              
              
              <div class="caption all-posts-end-buttons hidden-xs" style="text-align:center;padding-top:10px;">
                
                <% if can? :update, post %>
                <%= link_to 'Edit', edit_post_path(post),class: "text-primary pull-left edit-btn-show-posts" %>
              <% end %>
              <% if can? :destroy, post %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: " pull-left delete-btn-show-posts" %>
              <% end %>
              
              
                <!--<= link_to like_post_path(post), class: "like", method: :put do%>-->
                <!--  <button type="button" class="btn btn-info" aria-label="Left Align">-->
                <!--    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>-->
                <!--    <span class="badge"><= post.get_upvotes.size %></span>-->
                <!--  </button>-->
                <!--< end %>-->
                
                <!--<= link_to dislike_post_path(post), class: "like", method: :put do%>-->
                <!--  <button type="button" class="btn btn-info" aria-label="Left Align">-->
                <!--    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>-->
                <!--    <span class="badge"><= post.get_downvotes.size %></span>-->
                <!--  </button>-->
                <!--< end %>-->
              </div>
              
              
              
              
          </div>
        </div>

<% end %>
<br>

<div class = "pagination"><%= will_paginate @posts %></div>
</div>

</div>