<p id="notice"><%= notice %></p>
<div class = "container">
<h1>Discussion Forum</h1>
  
<% @posts.each do |post| %>
  <div class="panel panel-default">
      <div class="panel-heading"><h1><%= link_to post.title, post %></h1></div>
        <p><b><%= post.description %></p></b>
        <p><%= post.discipline.name %></p>
        <p>Posted about <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.email %></p>
        <% if can? :update, post %>
          <%= link_to 'Edit', edit_post_path(post),class: "btn btn-info" %>
        <% end %>
        <% if can? :destroy, post %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %>
        <% end %>
  </div>
<% end %>
<br>
<% if can? :create, Post %>
  <%= link_to 'New Post', new_post_path,class: "btn btn-primary"%><br/>
<% end %>
<div class = "pagination"><%= will_paginate @posts %></div>
</div>