<section class="page-header">
				<div class="container">

					<h1>Posts > <%= @post.title %></h1>

					

</div>

</section>

<div class="container">
  
<div class="forum_post_question_container">
  
	


  <h1 class="forum_post_title" style="margin-top:5px;"> <%= @post.title %></h1>
</div>

<div class="description-container col-md-9">
  
  <div class="single_postliker">

		<a title="Up Vote" class="up_vote_st <% if user_signed_in? and current_user.voted_up_on? @post %>up_vote_selected<% end %>">up vote</a> 
		<span class="number_of_likes" data-upvotes="<%= @post.get_upvotes.size %>" data-downvotes="<%= @post.get_downvotes.size %>"><%= @post.get_upvotes.size -  @post.get_downvotes.size %></span>
		<a title="Down Vote" class="down_vote_st <% if user_signed_in? and current_user.voted_down_on? @post %>down_vote_selected<% end %>">down vote</a> 

			</div>
	
  <div class="single-description-para">
   
    <p><%= @post.description %></p>
    
    <div class="edit-desc-btn">
    	
    	<% if can? :update, @post %>
		  <%= link_to 'Edit', edit_post_path(@post) %>
		<% end %>
		
    </div>
    
  </div>
  
  <div class="user-description-container col-md-3 visible-xs" style="margin-top: 25px;">
  
  <table>
			         <tr>
			                <td>
			                    <p class="label-key">Posted</p>
			                </td>
			                <td style="padding-left: 10px">
			                    <p class="label-value"><%= time_ago_in_words(@post.created_at) %></p>
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <p class="label-key">Views</p>
			                </td>

			                <td style="padding-left: 10px">
			                    <p class="label-value">
			                      <%= "#{@post.impressionist_count} views so far!" %>
			                    </p>
			                </td>
			            </tr>
			            
			            <tr>
			                <td>
			                    <p class="label-key">Discipline</p>
			                </td>

			                <td style="padding-left: 10px">
			                    <p class="label-value">
			                      <%= @post.forum.name %>
			                    </p>
			                </td>
			            </tr>
			            

	</table>
	
	<div class="user-details-post">
	  
	   <div class="user-details-name"> Posted by <b><%= @post.user.profile.name %></b></div>
	   
	   <div class="user-single-postpic">

        
              <% if @post.user.profile.image_file_name.present? %> 
                      <%= image_tag @post.user.profile.image.url(:large) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/avatar_generic.jpg" width="100" alt="User Profile Image">
                      </a>
                      <% end %>


       
	   </div>
	</div>

</div>
  
  <div class="" style="padding:0px;">
	
	<div class="forum_post_question_container" style="border:0px;">
    <h1 class="forum_post_title" > Answers</h1>
  </div>

  <%= render @post.comments %>
  <!--<h3> Comment on this reply</h3>-->
  <%= render "comments/form" %>
  </br>
  
</div>
<!--<p id="notice"><%= notice %></p>-->
  
  
</div>

<div class="user-description-container col-md-3 hidden-xs">
  
  <table>
			         <tr>
			                <td>
			                    <p class="label-key">Posted</p>
			                </td>
			                <td style="padding-left: 10px">
			                    <p class="label-value"><%= time_ago_in_words(@post.created_at) %></p>
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <p class="label-key">Views</p>
			                </td>

			                <td style="padding-left: 10px">
			                    <p class="label-value">
			                      <%= "#{@post.impressionist_count} views so far!" %>
			                    </p>
			                </td>
			            </tr>
			            
			            <tr>
			                <td>
			                    <p class="label-key">Discipline</p>
			                </td>

			                <td style="padding-left: 10px">
			                    <p class="label-value">
			                      <%= @post.forum.name %>
			                    </p>
			                </td>
			            </tr>
			            

	</table>
	
	<div class="user-details-post">
	  
	   <div class="user-details-name"> Posted by <b><%= @post.user.profile.name %></b></div>
	   
	   <div class="user-single-postpic">

        
              <% if @post.user.profile.image_file_name.present? %> 
                      <%= image_tag @post.user.profile.image.url(:large) %>
                      <% else %>
                      
                      <a href="javascript:;">
                      <img src="/avatar_generic.jpg" width="100" alt="User Profile Image">
                      </a>
                      <% end %>


       
	   </div>
	</div>

</div>









<!--<h3>Comments</h3>-->
<!--<div id="disqus_thread"></div>-->
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
// (function() { // DON'T EDIT BELOW THIS LINE
// var d = document, s = d.createElement('script');
// s.src = '//project-silp.disqus.com/embed.js';
// s.setAttribute('data-timestamp', +new Date());
// (d.head || d.body).appendChild(s);
// })();
// </script>
                                

<%= link_to 'Back', {:controller => "posts", :action => "index", :filter_id => @post.forum_id },class: "backbutton-single" %>
</div>


<script>
	
	
	
                
	//Code to like/dislike a post
	
	$(document).ready(function(){
    	
       
       $(".new_comment .control-label").text("Add an answer");
       
       
	   var up_vote = $(".single_postliker .up_vote_st");
	   var down_vote =  $(".single_postliker .down_vote_st");
	   var no_of_likes = $(".single_postliker .number_of_likes");
	   var link_to_like = "/posts/<%= @post.id  %>/like";
	   var link_to_dislike = "/posts/<%= @post.id  %>/dislike";
	   var upvotes_attr = $(".single_postliker .number_of_likes").attr("data-upvotes");
	   var downvotes_attr = $(".single_postliker .number_of_likes").attr("data-downvotes");
	   
	   $(up_vote).click(function(){
	       
	      var num = parseInt(no_of_likes.text());
	      
	      if(down_vote.hasClass("down_vote_selected")){
	      	
	      	no_of_likes.attr("data-downvotes",parseInt(no_of_likes.attr("data-downvotes")) - 1);
	      	down_vote.removeClass("down_vote_selected");
	      	
	      }
	      
	      
	      
	      if(!(up_vote.hasClass("up_vote_selected"))){
	      	 up_vote.addClass("up_vote_selected");
	      	 no_of_likes.attr("data-upvotes",parseInt(no_of_likes.attr("data-upvotes"))  + 1);
	      }
	      
	      
	      
	      no_of_likes.text(no_of_likes.attr("data-upvotes") - no_of_likes.attr("data-downvotes"));
	      
	      $.ajax({
	      	url : link_to_like,
	      	type : 'GET',
	      	dataType : 'json',
	      	success : function(resp){
	      		 
	      		 console.log("Liked",resp);
			      
			      
	      	},
	      	error : function(respo){
	      		window.alert("An error occured!\nPlease login if you're not logged in.");
	      		console.log(respo);
	      	}
	      });
	      
	      
	   });
	   
	   $(down_vote).click(function(){
	      
	      
	      var num = parseInt(no_of_likes.text());
	      
	      
	     
	      
	      if(up_vote.hasClass("up_vote_selected")){
	      	
	      	no_of_likes.attr("data-upvotes",parseInt(no_of_likes.attr("data-upvotes")) - 1);
	      	up_vote.removeClass("up_vote_selected");
	      }
	      
	      
	      
	      if(!(down_vote.hasClass("down_vote_selected"))){
	      	
	      	 down_vote.addClass("down_vote_selected");
	      	 no_of_likes.attr("data-downvotes",parseInt(no_of_likes.attr("data-downvotes"))  + 1);
	      }
	      
	      
	      
	      no_of_likes.text(no_of_likes.attr("data-upvotes") - no_of_likes.attr("data-downvotes"));
	      
	      
	      $.ajax({
	      	url : link_to_dislike,
	      	type : 'GET',
	      	dataType : 'json',
	      	success : function(resp){
	      		 
	      		  console.log("Disliked",resp);
			      
	      	},
	      	error : function(respo){
	      		window.alert("An error occured!");
	      		console.log(respo);
	      	}
	      });
	      
	   });
	   
	   
   
});
</script>