<section class="page-header">
				<div class="container">

					<h1>Posts > <%= @post.title %></h1>

					

</div>

</section>

<div class="container">
  
<div class="forum_post_question_container">
  
	


  <h1 class="forum_post_title"> <%= @post.title %></h1>
</div>

<div class="description-container col-md-9">
  
  <div class="single_postliker">

		<a title="Up Vote" class="up_vote_st">up vote</a> 
		<span class="number_of_likes"><%= @post.get_upvotes.size -  @post.get_downvotes.size %></span>
		<a title="Down Vote" class="down_vote_st">down vote</a> 

		                <%= link_to like_post_path(@post), class: "like", method: :put do%>
                  <button type="button" class="btn btn-info" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span class="badge"><%= @post.get_upvotes.size %></span>
                  </button>
                <% end %>
                
                <%= link_to dislike_post_path(@post), class: "like", method: :put do%>
                  <button type="button" class="btn btn-info" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                    <span class="badge"><%= @post.get_downvotes.size %></span>
                  </button>
                <% end %>
               
 				<% if user_signed_in? and current_user.voted_up_on? @post %>
    				<!--<= link_to like_post_path(@post), method: :put do %>-->
        			<button>
       				 ¡Liked!
        			</button>
    				<!--< end %>-->
 				<% elsif user_signed_in? and current_user.voted_down_on? @post  %>
					 you hate it
				 <% else %>
				    You dont like it yet
				  <% end %>
			</div>
	
  <p class="single-description-para">
   
    <%= @post.description %>
    
  </p>
  
  <div class="forum_post_question_container" style="border:0px;">
    <h1 class="forum_post_title" > Comments</h1>
  </div>

  <%= render @post.comments %>
  <h3> Reply to thread</h3>
  <%= render "comments/form" %>
  </br>

</div>

<div class="user-description-container col-md-3">
  
  <table>
			         <tr>
			                <td>
			                    <p class="label-key">Posted</p>
			                </td>
			                <td style="padding-left: 10px">
			                    <p class="label-value"><%= time_ago_in_words(@post.created_at) %></p>
			                </td>
			            </tr>
			            <tr>
			                <td>
			                    <p class="label-key">Views</p>
			                </td>

			                <td style="padding-left: 10px">
			                    <p class="label-value">
			                      <%= "#{@post.impressionist_count} views so far!" %>
			                    </p>
			                </td>
			            </tr>
			            
			            <tr>
			                <td>
			                    <p class="label-key">Discipline</p>
			                </td>

			                <td style="padding-left: 10px">
			                    <p class="label-value">
			                      <%= @post.discipline.name %>
			                    </p>
			                </td>
			            </tr>
			            

	</table>
	
	<div class="user-details-post">
	  
	   <div class="user-details-name"> Posted by <b><%= @post.user.profile.name %></b></div>
	   
	   <div class="user-single-postpic">

                      
       <a href="javascript:;">
          <img src="/avatar_generic.jpg" width="100" alt="<%= @post.user.profile.name %> Profile Image">
       </a>

       
	   </div>
	</div>

</div>
<!--<p id="notice"><%= notice %></p>-->






<% if can? :update, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<!--<h3>Comments</h3>-->
<!--<div id="disqus_thread"></div>-->
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
// (function() { // DON'T EDIT BELOW THIS LINE
// var d = document, s = d.createElement('script');
// s.src = '//project-silp.disqus.com/embed.js';
// s.setAttribute('data-timestamp', +new Date());
// (d.head || d.body).appendChild(s);
// })();
// </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

<%= link_to 'Back', {:controller => "posts", :action => "index", :filter_id => @post.discipline_id },class: "btn btn-primary backbutton-single" %>
</div>


<script>
	
	
	
                
	//Code to like/dislike a post
	
	$(document).ready(function(){
    
	   var up_vote = $(".single_postliker .up_vote_st");
	   var down_vote =  $(".single_postliker .down_vote_st");
	   var no_of_likes = $(".single_postliker .number_of_likes");
	   var link_to_like = "/posts/<%= @post.id  %>/like";
	   var link_to_dislike = "/posts/<%= @post.id  %>/dislike";

	   
	   $(up_vote).click(function(){
	       
	      var num = parseInt(no_of_likes.text());
	      
	      down_vote.removeClass("down_vote_selected");
	      up_vote.addClass("up_vote_selected");
	      $.ajax({
	      	url : link_to_like,
	      	type : 'GET',
	      	dataType : 'json',
	      	success : function(resp){
	      		 
	      		 console.log("Liked",resp);
	      		  //if(up_vote.hasClass("up_vote_selected")){
	          
			          //up_vote.removeClass("up_vote_selected");
			      			          
			      //}
			      //else{
			          
			          no_of_likes.text(resp.count);
			      //}
			      
			      
	      	},
	      	error : function(respo){
	      		window.alert("An error occured!");
	      		console.log(respo);
	      	}
	      });
	      
	      
	   });
	   
	   $(down_vote).click(function(){
	      
	      
	      var num = parseInt(no_of_likes.text());
	      
	      up_vote.removeClass("up_vote_selected");
	      down_vote.addClass("down_vote_selected");
	      $.ajax({
	      	url : link_to_dislike,
	      	type : 'GET',
	      	dataType : 'json',
	      	success : function(resp){
	      		 
	      		  console.log("Disliked",resp);
	      		  //if(down_vote.hasClass("down_vote_selected")){
	          
			          //down_vote.removeClass("down_vote_selected");
			          //no_of_likes.text(num + 1);
			          
			      //}
			      //else{
			      	  
			          no_of_likes.text(resp.count);
			      //}
			      
			      
	      	},
	      	error : function(respo){
	      		window.alert("An error occured!");
	      		console.log(respo);
	      	}
	      });
	      
	   });
   
});
</script>