</br>
<p id="notice"><%= notice %></p>
<!--</br>-->
<div class="container">
<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Univerities in this city:</strong>
    <% for item in @university %>
      <%= link_to item.name, university_path(item) %></td>
    <% end %>
    
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>

</div>