<%= bootstrap_form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!--<= f.label :name %><br>-->
    <%= f.text_field :name ,required: true,placeholder: "Name", hide_label: true %>
  </div>
  <div class="field">
    <!--<= f.label :description %>-->
    <%= f.text_area :description,placeholder: "Description goes here", hide_label: true %>
  </div>
  <div class="field">
    <!--<= f.label :city_id %>-->
    <%= f.collection_select :city_id,City.all,:id,:name %><br/>
  </div>
  <div class="field">
    <!--<= f.label :city_id %>-->
    <%= f.url_field :link,placeholder: "e.g http://lums.edu.pk" %><br/>
  </div>
  <div class="field">
  <!--<= f.label :Image %>-->
  <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= link_to 'Cancel', universities_path, class: "btn btn-info" %>
    <%= f.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>