<br>
<div class="container">
<br>
<p id="notice"><%= notice %></p>
<% if can? :create, University.new %>
  <a class="btn btn-success pull-right" href="/universities/new" role="button">New University</a>

  <%= form_tag :controller => :universities, :action => :export do %>
    <%= submit_tag "Download in Excel", class: "btn btn-primary pull-right", id: "export" %>
  <% end %>
  <%= form_tag import_universities_path, multipart: true do %>
    <%= file_field_tag :file, required: true %>
    <br>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>
<h2 class="post-title-forum post-title-all-posts" style="">Universities</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
       <th>City</th>
      <th>Actions</th>
      <!-- <th>ID</th> -->
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <!-- <td><%= university.name %></td> -->
        <!-- <td><%= university.description %></td> -->
        <!-- <td><%= university.id %></td> -->
        <td><%= link_to university.name, university %></td>
        <td><%= university.city.name %></td> 
        <td><%= link_to 'Edit', edit_university_path(university) %>&nbsp&nbsp&nbsp<%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<= link_to 'New University', new_university_path %>-->

</div>