
<section class="page-header">
        <div class="container">
          <strong><ul class="breadcrumbs">
		        <li><%= link_to "Guidistan","/" %> <i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li><%= link_to "All Universities","/universities" %> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
            <li class="active"><%= @university.name %></li>
          </ul></strong>
          <!-- breadcrumbs -->
        
        </div>
</section>

<div class="container-fluid no-padding-container">

  <div class="col-md-12 single-uni-container">
   
    <div class="single-uni-inner-container">
       
      <div class="uni-image-container col-md-2 col-md-offset-1 col-sm-12">
        <%= image_tag @university.image.url(:large) %>
      </div>
      
      <div class="uni-right-side-container col-md-8 col-sm-12">
        
          <h1 class="uni-name-container">
             <%= @university.name %>
          </h1>
          
          
          <div class="uni-city-container">
            <%= @city %>
          </div>
          
          <div class="uni-link">
            <a href="<%= @university.link %>" target="_blank">Visit University Website</a>
            <!--<a href="/universities/wishlist" class="uni-wish" >Add to Wishlist</a>-->
            
            <% if user_signed_in? && WishlistUniversity.exists?(user_id: current_user.id,university_id: @university.id) %>
              <br/><%= link_to 'Added to Wishlist', {controller: "universities",action: "wishlist", id: @university.id}, class: "uni-wish-added"%>
            <% else %>
              <%= link_to 'Add to Wishlist', {controller: "universities",action: "wishlist", id: @university.id}, class: "uni-wish" %>
            <% end %> 
          </div>
          <div class="uni-description">
            <%= @university.description %>
            
          </div>
          
          <div class="uni-contact">
            <ul>
              <li><a href="#"><i class="fa fa-phone fa-3x" aria-hidden="true"></i>+4235608000 ext 4150</a></li>
              <li><a href="#"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>helpdeskao@university.edu.pk</a></li>
              <li><a href="#"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i>facebook</a></li>
            </ul>
          </div>
        
        
      </div>
      
    </div>
   
      <!-- <p> -->
        <!-- <strong>ID:</strong> -->
      <!-- </p> -->
     
  </div>
 
</div>
  <!-- Disciplines Offered BLOCK   ------------------>
  <div class="container">
    <div class="disc-offered-container col-md-9 col-centered">
      <h2 class="disc-offered-heading">Disciplines offered by this university</h2>
      
      <div class="panel-group" id="accordion">
         <% @discipline.each_with_index do |discipline,index| %>
            <div class="panel panel-default">
              <div class="panel-heading" >
                
                <h4 class="panel-title">
                  <!--< if discipline.font %>-->
                  <!--<=discipline.font %>-->
                  <a data-parent="#accordion"  data-toggle="collapse" data-target="#collapse<%= index %>"><i class="<%= discipline.font %>" aria-hidden="true"></i> &nbsp <%= discipline.name %><span class="glyphicon glyphicon-plus"></a>
                  <!--< else %>-->
                    <!--<a data-toggle="collapse"><i class="fa fa-laptop" aria-hidden="true"></i><%= discipline.name %><span class="glyphicon glyphicon-plus"></a>-->
                  <!--< end %>-->
                </h4>
              </div>
              <div id="collapse<%= index %>" class="panel-collapse collapse">
                <div class="panel-body">
                  
                    <% degrees = DisciplineUniversity.where(university_id: @university.id, discipline_id: discipline.id)%>
                    <% degrees.each do |degree| %>
                      <%= link_to degree.name, "/discipline_universities/#{degree.slug}"%>
                    <% end %>
                  
                </div>
              </div>
            </div>
          <% end %>
      </div> 
        
        
        <!-- UPDATE BLOCK   -->
      
        <% if can? :update, @university %>
        <div style="margin-left:15px;margin-bottom:15px;">
          <%= link_to 'Edit', edit_university_path(@university) %> |
          <%= link_to 'Back', universities_path %>
        </div>
        <% end %>
    </div>
    </div>




 
</div>








<script>

    
    $(document).ready(function(){
    // Toggle plus minus icon on show hide of collapse element
        
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
        
 
        
    });
</script>


