<br>
<div class="container">
<br><p id="notice"><%= notice %></p>

<p>
  <strong  class="post-title-forum post-title-all-posts" style="">Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong class="post-title-forum post-title-all-posts" style="">Description:</strong>
  <%= @university.description %>
</p>
<!--<p>-->
<!--  <strong class="post-title-forum post-title-all-posts" style="">Disciplines offered:</strong>-->
<!--    < for d in @discipline %>-->
<!--      <= d.name %>,-->
<!--    < end %>-->
<!--</p>-->
<p>
  <strong class="post-title-forum post-title-all-posts" style="">City:</strong>
  <%= @city %>
</p>
<%= image_tag @university.image.url(:small) %>
<!-- <p> -->
  <!-- <strong>ID:</strong> -->
<!-- </p> -->

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>

</div>