<!DOCTYPE html>
<html>
<head>
	<link rel="SHORTCUT ICON" href="/title icon.png" type="image/x-icon">
  <title>Guidistan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script>
  	$(document).ready(function(){
  		$(window).scroll(function(){console.log($(window).scrollTop());
		    if($(window).scrollTop() > 40)
		    {
		        $("#header").css('padding-top','0px');
		        $("#header").css('padding-bottom','0px');
		    }
		    else{
		    	$("#header").css('padding-top','15px');
		        $("#header").css('padding-bottom','15px');
		    }
		});	
  	});
  </script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body class="smoothscroll enable-animation">
		<div id="wrapper">
			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="sticky clearfix fixed" >

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<!--<ul class="pull-right nav nav-pills nav-second-main">-->

							<!-- SEARCH -->
							<!--<li class="search">-->
							<!--	<a href="javascript:;">-->
							<!--		<i class="fa fa-search"></i>-->
							<!--	</a>-->
							<!--	<div class="search-box">-->
							<!--		<form action="page-search-result-1.html" method="get">-->
							<!--			<div class="input-group">-->
							<!--				<input type="text" name="src" placeholder="Search" class="form-control" />-->
							<!--				<span class="input-group-btn">-->
							<!--					<button class="btn btn-primary" type="submit">Search</button>-->
							<!--				</span>-->
							<!--			</div>-->
							<!--		</form>-->
							<!--	</div> -->
							<!--</li>-->
							<!-- /SEARCH -->

					
						<!--</ul>-->
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo pull-left" href="/">
							<img src="/header_logo.png" alt=""/>
							<!--<= image_tag("/edu logo.png", alt: "", height: 200, width: 200) %>-->
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								
								<ul id="topMain" class="nav nav-pills nav-main">
									
								<% if user_signed_in? %>
									<% if current_user.has_role? :admin %>
										<li class="dropdown"><!-- SHOP -->
											<a class="dropdown-toggle" href="/admin_panel/index">
												Admin Panel
											</a>
											<ul class="dropdown-menu pull-right">
												<li class="dropdown">
													<a class="dropdown-toggle" href="/admin_panel/index">
														Site Statistics
													</a>
													<a class="dropdown-toggle" href="/profiles">
														All Users
													</a>
														<a class="dropdown-toggle" href="/tags">
														Tags Management
													</a>
														<a class="dropdown-toggle" href="/admin_panel/flag">
														Flagged Posts
													</a>
											</ul>
	
										</li>
									<% else %>
										<li class="dropdown"><!-- SHOP -->
											<a class="dropdown-toggle" href="/suggestions">
												Suggestions
											</a>
	
										</li>
									<% end %>
								<% end %>
									
									<li class="dropdown"><!-- HOME -->
										<a class="dropdown-toggle" href="/discipline_universities">
											Search program
										</a>
										<!--<ul class="dropdown-menu">-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME CORPORATE-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-corporate-1.html">CORPORATE LAYOUT 1</a></li>-->
										<!--			<li><a href="index-corporate-2.html">CORPORATE LAYOUT 2</a></li>-->
										<!--			<li><a href="index-corporate-3.html">CORPORATE LAYOUT 3</a></li>-->
										<!--			<li><a href="index-corporate-4.html">CORPORATE LAYOUT 4</a></li>-->
										<!--			<li><a href="index-corporate-5.html">CORPORATE LAYOUT 5</a></li>-->
										<!--			<li><a href="index-corporate-6.html">CORPORATE LAYOUT 6</a></li>-->
										<!--			<li><a href="index-corporate-7.html">CORPORATE LAYOUT 7</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME PORTFOLIO-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-portfolio-1.html">PORTFOLIO LAYOUT 1</a></li>-->
										<!--			<li><a href="index-portfolio-2.html">PORTFOLIO LAYOUT 2</a></li>-->
										<!--			<li><a href="index-portfolio-masonry.html">PORTFOLIO MASONRY</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME BLOG-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-blog-1.html">BLOG LAYOUT 1</a></li>-->
										<!--			<li><a href="index-blog-2.html">BLOG LAYOUT 2</a></li>-->
										<!--			<li><a href="index-blog-3.html">BLOG LAYOUT 3</a></li>-->
										<!--			<li><a href="index-blog-4.html">BLOG LAYOUT 4</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME SHOP-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-shop-1.html">SHOP LAYOUT 1</a></li>-->
										<!--			<li><a href="index-shop-2.html">SHOP LAYOUT 2</a></li>-->
										<!--			<li><a href="index-shop-3.html">SHOP LAYOUT 3</a></li>-->
										<!--			<li><a href="index-shop-4.html">SHOP LAYOUT 4</a></li>-->
										<!--			<li><a href="index-shop-5.html">SHOP LAYOUT 5</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME MAGAZINE-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-magazine-1.html">MAGAZINE LAYOUT 1</a></li>-->
										<!--			<li><a href="index-magazine-2.html">MAGAZINE LAYOUT 2</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME LANDING PAGE-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-landing-1.html">LANDING PAGE LAYOUT 1</a></li>-->
										<!--			<li><a href="index-landing-2.html">LANDING PAGE LAYOUT 2</a></li>-->
										<!--			<li><a href="index-landing-3.html">LANDING PAGE LAYOUT 3</a></li>-->
										<!--			<li><a href="index-landing-4.html">LANDING PAGE LAYOUT 4</a></li>-->
										<!--			<li><a href="index-landing-5.html">LANDING PAGE LAYOUT 5</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME FULLSCREEN-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-fullscreen-revolution.html">FULLSCREEN - REVOLUTION</a></li>-->
										<!--			<li><a href="index-fullscreen-youtube.html">FULLSCREEN - YOUTUBE</a></li>-->
										<!--			<li><a href="index-fullscreen-local-video.html">FULLSCREEN - LOCAL VIDEO</a></li>-->
										<!--			<li><a href="index-fullscreen-image.html">FULLSCREEN - IMAGE</a></li>-->
										<!--			<li><a href="index-fullscreen-txt-rotator.html">FULLSCREEN - TEXT ROTATOR</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME ONE PAGE-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-onepage-default.html">ONE PAGE - DEFAULT</a></li>-->
										<!--			<li><a href="index-onepage-revolution.html">ONE PAGE - REVOLUTION</a></li>-->
										<!--			<li><a href="index-onepage-image.html">ONE PAGE - IMAGE</a></li>-->
										<!--			<li><a href="index-onepage-parallax.html">ONE PAGE - PARALLAX</a></li>-->
										<!--			<li><a href="index-onepage-youtube.html">ONE PAGE - YOUTUBE</a></li>-->
										<!--			<li><a href="index-onepage-text-rotator.html">ONE PAGE - TEXT ROTATOR</a></li>-->
										<!--			<li><a href="start.html#onepage"><span class="label label-success pull-right">new</span> MORE LAYOUTS</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="divider"></li>-->
										<!--	<li class="dropdown">-->
										<!--		<a class="dropdown-toggle" href="#">-->
										<!--			HOME - THEMATICS <i class="fa fa-heart margin-left-10"></i>-->
										<!--		</a>-->
										<!--		<ul class="dropdown-menu">-->
										<!--			<li><a href="index-thematics-restaurant.html">HOME - RESTAURANT</a></li>-->
										<!--			<li><a href="index-thematics-education.html">HOME - EDUCATION</a></li>-->
										<!--			<li><a href="index-thematics-construction.html">HOME - CONSTRUCTION</a></li>-->
										<!--			<li><a href="index-thematics-medical.html">HOME - MEDICAL</a></li>-->
										<!--			<li><a href="index-thematics-church.html">HOME - CHURCH</a></li>-->
										<!--			<li><a href="index-thematics-fashion.html">HOME - FASHION</a></li>-->
										<!--			<li><a href="index-thematics-wedding.html">HOME - WEDDING</a></li>-->
										<!--			<li><a href="index-thematics-events.html">HOME - EVENTS</a></li>-->
										<!--		<li><a href="http://www.stepofweb.com/propose-design.html" data-toggle="tooltip" data-placement="top" title="Do you need a specific home design? We can include it in the next update!" target="_blank"><span class="label label-danger pull-right">hot</span> PROPOSE THEMATIC</a></li>-->
										<!--		</ul>-->
										<!--	</li>-->
										<!--	<li class="divider"></li>-->
										<!--	<li><a href="start.html#newrevslider" data-toggle="tooltip" data-placement="top" title="32 More Revolution Slider V5"><span class="label label-danger pull-right">new</span> 32 MORE LAYOUTS</a></li>-->
										<!--	<li class="divider"></li>-->
										<!--	<li><a href="index-simple-revolution.html">HOME SIMPLE - REVOLUTION</a></li>-->
										<!--	<li><a href="index-simple-layerslider.html">HOME SIMPLE - LAYERSLIDER</a></li>-->
										<!--	<li><a href="index-simple-parallax.html">HOME SIMPLE - PARALLAX</a></li>-->
										<!--	<li><a href="index-simple-youtube.html">HOME SIMPLE - YOUTUBE</a></li>-->
										<!--</ul>-->
									</li>
									<li class="dropdown"><!-- PAGES -->
										<a class="dropdown-toggle" href="/disciplines">
											Disciplines
										</a>
										<% if user_signed_in? and current_user.has_role? :admin %>
											<ul class="dropdown-menu">
												<li class="dropdown">
													<a class="dropdown-toggle" href="/disciplines/new">
														NEW
													</a>
													<!--<ul class="dropdown-menu">-->
													<!--	<li><a href="page-about-us-1.html">ABOUT US - LAYOUT 1</a></li>-->
													<!--	<li><a href="page-about-us-2.html">ABOUT US - LAYOUT 2</a></li>-->
													<!--	<li><a href="page-about-us-3.html">ABOUT US - LAYOUT 3</a></li>-->
													<!--	<li><a href="page-about-us-4.html">ABOUT US - LAYOUT 4</a></li>-->
													<!--	<li><a href="page-about-us-5.html">ABOUT US - LAYOUT 5</a></li>-->
													<!--	<li><a href="page-about-me-1.html">ABOUT ME - LAYOUT 1</a></li>-->
													<!--	<li><a href="page-about-me-2.html">ABOUT ME - LAYOUT 2</a></li>-->
													<!--</ul>-->
												</li>
								
											</ul>
										<% end %>
									</li>
								
									<li class="dropdown"><!-- BLOG -->
										<a class="dropdown-toggle" href="/universities">
											Universities
										</a>
										<% if user_signed_in? and current_user.has_role? :admin %>
											<ul class="dropdown-menu">
												<li class="dropdown">
													<a class="dropdown-toggle" href="/universities/new">
														NEW
													</a>
												<!--	<ul class="dropdown-menu">-->
												<!--		<li><a href="blog-default-aside-left.html">LEFT SIDEBAR</a></li>-->
												<!--		<li><a href="blog-default-aside-right.html">RIGHT SIDEBAR</a></li>-->
												<!--		<li><a href="blog-default-aside-both.html">BOTH SIDEBAR</a></li>-->
												<!--		<li><a href="blog-default-fullwidth.html">FULL WIDTH</a></li>-->
												<!--	</ul>-->
												</li>
									<!--</li>-->
											</ul>
										<% end %>
									</li>
									<li class="dropdown"><!-- SHOP -->
										
										<% if user_signed_in? and current_user.has_role? :admin %>
											
											<a class="dropdown-toggle" href="/subdisciplines">
												Subdisciplines
											</a>
											<ul class="dropdown-menu pull-right">
												<li class="dropdown">
													<a class="dropdown-toggle" href="/subdisciplines/new">
														New
													</a>
	
										</li>
	
												<!--<li class="dropdown">-->
												<!--	<a class="dropdown-toggle" href="#">-->
												<!--		2 COLUMNS-->
												<!--	</a>-->
												<!--	<ul class="dropdown-menu">-->
												<!--		<li><a href="shop-2col-left.html">LEFT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-2col-right.html">RIGHT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-2col-both.html">BOTH SIDEBAR</a></li>-->
												<!--	</ul>-->
												<!--</li>-->
												<!--<li class="dropdown">-->
												<!--	<a class="dropdown-toggle" href="#">-->
												<!--		3 COLUMNS-->
												<!--	</a>-->
												<!--	<ul class="dropdown-menu">-->
												<!--		<li><a href="shop-3col-left.html">LEFT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-3col-right.html">RIGHT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-3col-full.html">FULL WIDTH</a></li>-->
												<!--	</ul>-->
												<!--</li>-->
												<!--<li class="dropdown">-->
												<!--	<a class="dropdown-toggle" href="#">-->
												<!--		4 COLUMNS-->
												<!--	</a>-->
												<!--	<ul class="dropdown-menu">-->
												<!--		<li><a href="shop-4col-left.html">LEFT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-4col-right.html">RIGHT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-4col-full.html">FULL WIDTH</a></li>-->
												<!--	</ul>-->
												<!--</li>-->
												<!--<li class="dropdown">-->
												<!--	<a class="dropdown-toggle" href="#">-->
												<!--		SINGLE PRODUCT-->
												<!--	</a>-->
												<!--	<ul class="dropdown-menu">-->
												<!--		<li><a href="shop-single-left.html">LEFT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-single-right.html">RIGHT SIDEBAR</a></li>-->
												<!--		<li><a href="shop-single-both.html">BOTH SIDEBAR</a></li>-->
												<!--		<li><a href="shop-single-full.html">FULL WIDTH</a></li>-->
												<!--	</ul>-->
												<!--</li>-->
												<!--<li><a href="shop-compare.html">COMPARE</a></li>-->
												<!--<li><a href="shop-cart.html">CART</a></li>-->
												<!--<li><a href="shop-checkout.html">CHECKOUT</a></li>-->
												<!--<li><a href="shop-checkout-final.html">ORDER PLACED</a></li>-->
											</ul>
										<% end %>
									</li>

									<li> <%= link_to 'Forums', forums_url %></li>
									<li>
									        <% if user_signed_in? %>
									          <%= link_to 'My Profile', profile_path(:id => current_user.profile.id) %>
									        <% end %>
									</li>
									<li class="dropdown notification hidden-lg hidden-md hidden-sm">
											<% if user_signed_in? %>
											<div class="notification_count"><span>2</span></div>
									        <a href="/notification" class="dropdown-toggle" data-toggle="dropdown">
											Notifications
											
											</a>
										
										
									        <% end %>
									</li>
									<li class="dropdown notification hidden-xs">
											<% if user_signed_in? %>
											<div class="notification_count  hidden-xs"><span>2</span></div>
									        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-bell" aria-hidden="true"></i>
										<% @activities1.each do |activity| %>
										<% render_activity activity %>
										<% end %>	
										</a>
										<ul class="dropdown-menu notification-hide" role="menu" aria-labelledby="dropdownMenu">
										<% @activities1.each do |activity| %>
											<li><a href="#"><%= render_activity activity %></a></li>
										<% end %>
										<li class="view_all"><a href="/notification">View all</a></li>
										</ul>
										
									        <% end %>
									</li>
									<li>
									        <% if user_signed_in? %>
									          <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
									        <% else %>
									          <%= link_to 'Login', new_user_session_path %>
									        <% end %>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>
			


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<!--< if not controller_name == 'admin_panel' %>-->
	<!--<footer id="footer">-->
	<!--	<div class="apni">-->
	
	<!--		<div class="row">-->
				
	<!--			<div class="col-md-8">-->
	
					<!-- Footer Logo -->
					<!--<img class="footer-logo footer-2" src="/logo-footer.png" alt="" />-->
	<!--				<h2> Guidistan </h2>-->
					<!-- Small Description -->
	<!--				<p>Ensuring Better Tomorrow </p>-->
	
	<!--				<hr />-->
	
	<!--				<div class="row">-->
	<!--					<div class="col-md-6 col-sm-6">-->
	
							<!-- Newsletter Form -->
	<!--						<p class="margin-bottom-10">Subscribe to Our <strong>Newsletter</strong></p>-->
	
	<!--						<form id="newsletterForm" action="php/newsletter.php" role="form" method="post">-->
	<!--							<div class="input-group">-->
	<!--								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>-->
	<!--								<input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email" required="required">-->
	<!--								<span class="input-group-btn">-->
	<!--									<button class="btn btn-success" type="submit">Subscribe</button>-->
	<!--								</span>-->
	<!--							</div>-->
	<!--						</form>-->
							<!-- /Newsletter Form -->
	<!--					</div>-->
	
	<!--					<div class="col-md-6 col-sm-6">-->
	
							<!-- Social Icons -->
	<!--						<div class="margin-left-50 clearfix">-->
	
	<!--							<p class="margin-bottom-10">Follow Us</p>-->
	<!--							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">-->
	<!--								<i class="fa fa-facebook-square"></i>-->
	<!--								<i class="fa fa-facebook-square"></i>-->
	<!--							</a>-->
	
	<!--							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">-->
	<!--								<i class="fa fa-twitter-square"></i>-->
	<!--								<i class="fa fa-twitter-square"></i>-->
	<!--							</a>-->
	
	<!--							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">-->
	<!--								<i class="fa fa-google-plus-square"></i>-->
	<!--								<i class="fa fa-google-plus-square"></i>-->
	<!--							</a>-->
	
	<!--							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">-->
	<!--								<i class="fa fa-linkedin-square"></i>-->
	<!--								<i class="fa fa-linkedin-square"></i>-->
	<!--							</a>-->
	
								<!--<a href="#" class="social-icon social-icon-sm social-icon-transparent social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">-->
								<!--	<i class="icon-rss"></i>-->
								<!--	<i class="icon-rss"></i>-->
								<!--</a>-->
	
	<!--						</div>-->
							<!-- /Social Icons -->
	
	<!--					</div>-->
						
	<!--				</div>-->
	
	
	
	<!--			</div>-->
	
	<!--			<div class="col-md-4">-->
	
	<!--				<h4 class="letter-spacing-1">CONTACT US</h4>-->
	
					<!-- CONTACT MESSAGES -->
	<!--				<p id="alert_success" class="alert alert-success alert-mini">Message sent! Thank You!</p>-->
	<!--				<p id="alert_failed" class="alert alert-danger alert-mini">Message not sent!</p>-->
	<!--				<p id="alert_mandatory" class="alert alert-danger alert-mini">Please, complete all mandatory fields</p>-->
	
					<!-- CONTACT FORM -->
	<!--				<form class="validate" method="post" action="php/contact.php">-->
						
	<!--					<input type="text" value="" placeholder="Name*" maxlength="100" class="form-control required" name="contact[name]" />-->
	<!--					<input type="email" value="" placeholder="Email*" data-msg-email="Please enter a valid email address." class="form-control required" name="contact[email]" />-->
	<!--					<textarea maxlength="5000" placeholder="Message*" rows="3" class="form-control required" name="contact[message]"></textarea>-->
	<!--					<input type="submit" value="SUBMIT MESSAGE" class="btn btn-success" />-->
	
	<!--				</form>-->
					<!-- /CONTACT FORM -->
	
	<!--			</div>-->
	
	<!--		</div>-->
	
	<!--	</div>-->
	
	<!--	<div class="copyright">-->
	<!--		<div class="container">-->
	<!--			<ul class="list-inline inline-links mobile-block pull-right nomargin">-->
	<!--				<li><a href="#">Home</a></li>-->
	<!--				<li><a href="#">About Us</a></li>-->
	<!--				<li><a href="#">Contact</a></li>-->
	<!--			</ul>-->
	
	<!--			&copy; All Rights Reserved, Company LTD-->
	<!--		</div>-->
	<!--	</div>-->
	<!--</footer>-->
			<footer class="footer-distributed">

			<div class="footer-left">

				<h3><span>Guidistan</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					路
					<a href="/universities">Universities</a>
					路
					<a href="/disciplines">Disciplines</a>
					路
					<a href="/forums">Forums</a>
					路
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Guidistan &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>LUMS</span> Lahore, Pakistan</p>
				</div>

				<!--<div>-->
				<!--	<i class="fa fa-phone"></i>-->
				<!--	<p>+92 322 9499463</p>-->
				<!--</div>-->

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com"><font color= #8ab933>info@guidistan.com</font></a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Guidistan</span>
					Guidistan is an online platform which is providing free counseling and data access to all students of Pakistan.
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/guidistan/" target='blank'><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
	<script type="text/javascript">
		$('.notification').on('click',function(){
			$(this).find('ul.dropdown-menu').toggleClass('notification-hide');	
		});
	</script>

	

	
<!--< end %>-->
</body>
</html>
